### IntelliJ IDEA ###
**/.idea
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
obj/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Local art previews / integration work ###
.work/

### Python tool caches ###
**/__pycache__/
*.py[cod]

### Mac OS ###
.DS_Store
